@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

.hero_section {
    background-image: url(main.jpg);
    height: 100vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.text_cont {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;

}

.lg_text {
    font-size: 72px;


}

.black_box h2 {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 72px;
    font-weight: 300;
}

.black_box h2 span {
    font-size: 96px;
    font-weight: 700;
}

.card_cont {
    padding: 20px;
}

.img_cont img {
    height: 200px;
    max-width: 320px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    border-radius: 10px;


}

.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 50px auto;
    max-width: 1100px;

}

.grid_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 320px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);

}

.card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.3s ease-in-out;
    cursor: pointer;


}

.card_cont h2 {
    margin-bottom: 10px;

}

.footer {
    display: flex;


}

.contact {
    background-color: maroon;

}

.contact a {

    color: white;
}

.about {
    background-color: green;
}

.contact,
.about {
    min-height: 180px;
    padding: 32px;
    color: white;
    text-align: justify;

}

.contact p,
.about p {
    margin-bottom: 20px;
}

.contact h2,
.about h2 {
    font-size: 54px;
    font-weight: 300;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;

    padding: 20px;
}

@media (max-width:786px) {
    .hero_section {
        min-height: 50vh;

    }

    .text_cont {
        padding: 10px;
        text-align: center;
    }

    .lg_text {
        font-size: 32px;
    }

    .black_box h2 {
        font-size: 24px;

    }

    .black_box h2 span {
        font-weight: 400;
        font-size: 32px;
    }

    .footer {
        flex-direction: column;
    }

    h1 {
        font-size: 32px;
    }

    .contact h2,
    .about h2 {
        font-size: 32px;
    }
}